.services{
    display : flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    user-select: none;
    margin: 0 180px;
}
.services .title{
    font-size: 3rem;
    text-align: center;
    position: relative;
    margin-bottom: 1.5rem;
}
.services .title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -11;
}
.cards{
    display: grid;
    /*grid-template-columns: repeat(3, 1fr); !* cleaner syntax *!*/
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin-top: 2rem;
}
.card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem;
    width: 100%;
    text-align: left;
    position: relative;
    border: 1px solid white;
    border-radius: 10px;
    height: 300px;
    overflow: hidden; /* Important to hide overflow from ::before */
    transition: transform 0.3s ease-in-out, border 0.3s ease-in-out;
    z-index: 0;
}

.card::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0%; /* Start from top */
    width: 100%;
    background: linear-gradient(220deg, var(--red), var(--orange));
    z-index: -1; /* Push behind content */
    transition: height 0.4s ease-in-out;
    border-radius: inherit;
}

.card:hover {
    border: 1px solid transparent;
    transform: scale(1.02);
    cursor: pointer;
}



.card:hover::before {
    height: 64%; /* Animate the gradient fill */
}
.card h1{
    font-size: 2.1rem;
    background: linear-gradient(300deg , var(--orange), var(--red));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.card .description,
.card .no{
    font-size: 1.5rem;
}
.card .techs{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    gap: 1rem;
    font-size: 1rem;
}
.card .techs p{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
}

@media (max-width: 1800px) {
    .cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* cleaner syntax */
        gap: 2rem;
        margin-top: 2rem;
    }
}

@media (max-width: 1360px) {
    .services{
        margin: 0 120px;
    }
    .cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* cleaner syntax */
        gap: 1rem;
        margin-top: 2rem;
    }
    .card .description,
    .card .no{
        font-size: 1.2rem;
    }
    .card .techs{
        margin-top: 1rem;
        width: 90%;
        display: flex;
        gap: 1rem;
        font-size: 1.1rem;
    }
    .card .techs p{
        margin-top: 1rem;
        width: 100%;
        display: flex;
        gap: 1rem;
        font-size: 1rem;
    }
    .card h1{
        font-size: 1.6rem;
    }
}
@media (max-width: 1100px) {
    .card .techs{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 0;
        gap: .8rem;
    }
    .card .techs p{
        font-size: 1.2rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .card .description{
        font-size: 1.1rem;
    }
    .card{
        gap: 1rem;
        height: 450px;
    }
    .services{
        margin: 0 70px;
    }
    .card:hover::before {
        height: 77%; /* Animate the gradient fill */
    }
}
@media screen and (max-width: 830px){
    .card .techs p{
        margin-top: 1rem;
        display: flex;
        gap: 1rem;
        font-size: 1.1rem;
    }
}
@media screen and (max-width: 800px){
    .services{
        margin: 0 50px;
    }
    .services .title{
        font-size: 2rem;
        text-align: center;
        position: relative;
        margin-bottom: 1.5rem;
    }
    .services .title img{
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -11;
        width: 120px;
    }
}

@media screen and (max-width: 770px){
    .cards{
        display: grid;
        /*grid-template-columns: repeat(3, 1fr); !* cleaner syntax *!*/
        grid-template-columns: 1fr;
        gap: 2rem;
        margin-top: 2rem;
    }
    .card{
        gap: 1rem;
        height: 300px;
    }
    .card:hover::before {
        height: 65%; /* Animate the gradient fill */
    }
    .card .techs{
        flex-direction: row-reverse;
    }
    .card .techs p{
        font-size: 1.3rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .card .description{
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 592px){
    .card .techs p{
        font-size: 1.2rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .card .description{
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 560px){
    .services{
        margin: 0 10px;
    }

    .card{
        gap: 1rem;
        height: 400px;
    }
    .card:hover::before {
        height: 74%; /* Animate the gradient fill */
    }
    .card .techs{
        flex-direction: column;
    }
    .card .techs p{
        font-size: 1.3rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .card .description{
        font-size: 1.2rem;
    }

}
@media screen and (max-width: 390px){
    .card{
        gap: 1rem;
        height: 450px;
    }
    .card:hover::before {
        height: 77%; /* Animate the gradient fill */
    }
}
