.works{
    display : flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    user-select: none;
    margin: 0 180px;
    height: 100vh;
}
.works-list{
    display: grid;
    /*grid-template-columns: repeat(3, 1fr); !* cleaner syntax *!*/
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin-top: 2rem;
}
.work{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    text-align: left;
    position: relative;
    border: 1px solid white;
    border-radius: 10px;
    height: 300px;
    width: 400px;
    overflow: hidden; /* Important to hide overflow from ::before */
    transition: transform 0.3s ease-in-out, border 0.3s ease-in-out;
    z-index: 0;
}
.work::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 0; /* Start from top */
    width: 100%;
    /*background: linear-gradient(220deg, var(--red), var(--orange));*/
    background-color: white;
    z-index: -1; /* Push behind content */
    transition: height 0.4s ease-in-out;
    border-radius: inherit;
}
.work:hover {
    border: 1px solid transparent;
    transform: scale(1.02);
    cursor: pointer;
}
.work:hover::before {
    height: 14%; /* Animate the gradient fill */
    z-index: 12;
}

.work img{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.work h1{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 13;
    background: linear-gradient(300deg , var(--orange), var(--red));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 1800px) {
    .works-list{
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* cleaner syntax */
        gap: 2rem;
        margin-top: 2rem;
    }
}

@media (max-width: 1360px) {
    .works-list{
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* cleaner syntax */
        gap: 1rem;
        margin-top: 2rem;
    }
}
@media (max-width: 1120px) {
    .work{
        gap: 1rem;
        height: 340px;
    }

}